<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
 
    <type name="Magento\Catalog\Block\Product\View\Details">
        <plugin name="twentytoo_product_view_description" type="Twentytoo\CustomTab\Plugin\Description" />
    </type>
 
</config>
